body {
    background: url("/pictures/stone_background.jpg");
    background-size: cover;
    font-family: 'Aldrich';
}

#coding_body {
    background: url("/pictures/stone_background.jpg");
    background-size: 100%;
    font-family: 'Aldrich';
}

header {
    text-align: center;
    font-family: 'Aldrich';
    color: whitesmoke;
}

#name {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20pt;
}

#name:hover {
    color: black;
}

nav li {
    display: inline;
    padding: 30px;
    font-size: 15pt;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: darkgrey;
}

.container {
    text-align: center;
    position: relative;
}

#logo {
    position: absolute;
    color: whitesmoke;
    top: 58%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#about {
    text-align: center;
    color: black;
    font-size: 18pt;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30%;
    grid-column-gap: 10px;
    justify-content: center;
}

#bio {
    text-align: right;
    color: whitesmoke;
}

#bio a {
    color: whitesmoke;
}

#headshot {
    padding-top: 15px;
    max-width: 90%;
    max-height: 352px;
}

.featured {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    justify-content: center;
    color: black;
}

.featured p {
    color: whitesmoke;
}

footer {
    text-align: center;
    font-size: 8pt;
    color: whitesmoke;
}

#code_container {
    text-align: center;
    color: whitesmoke;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.title {
    color: black;
}

.composition_row_1 {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    grid-column-gap: 50px;
    justify-content: center;
    text-align: center;
    color: black;
}

.composition_row_2 {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25%;
    grid-column-gap: 50px;
    justify-content: center;
    text-align: center;
}

.composition_titles {
    color: black;
    font-size: 20pt;
}

.composition_descriptions {
    color: whitesmoke;
}

#cv_container {
    text-align: center;
}

embed {
    width: 85%;
    height: 900px;
}

.paper_holder {
    text-align: center;
    color: whitesmoke;
    padding-right: 7.5%;
    padding-left: 7.5%;
}

.form_container {
    text-align: center;
}

label {
    font-size: 10pt;
}

input, textarea, button {
    border: 2px solid black;
}

*:focus {
    outline: none;
}

input:focus, textarea:focus, button:focus {
    background-color: darkgrey;
}

button:hover {
    background-color: darkgrey;
}


#in_progress {
    text-align: center;
}

.description {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 0px;
    color: whitesmoke;
    font-size: 15pt;
}

#title_image {
    max-width: 85%;
    height: auto;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    
    header {
        position: relative;
    }
    
    #name {    
        font-size: 15pt;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    nav li {
        font-size: 15pt;
        display: table;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    #logo h2 {
        font-size: 12pt;
    }
    
    #logo h4 {
        font-size: 10pt;
    }
    
    #about {
        font-size: 13pt;
    }
    
    .grid {
    grid-template-columns: 42.5% 42.5%;
    grid-column-gap: 10px;
    }
    
    #bio {
        font-size: 11pt;
    }
    
    .featured {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        color: black;
    }
    
    .featured p {
        font-size: 11pt;
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    
    header {
        position: relative;
    }
    
    #name {    
        font-size: 12pt;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    nav li {
        font-size: 12pt;
        display: table;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
        #logo h2 {
        font-size: 9pt;
    }
    
    #logo h4 {
        font-size: 7pt;
    }
    
    #about {
        font-size: 10pt;
    }
    
    #bio {
        font-size: 8pt;
    }
    
    .grid {
        grid-template-columns: 45% 45%;
        grid-column-gap: 9px;
    }
}

@media screen and (min-width: 250px) and (max-width: 499px) {
    
    header {
        position: relative;
    }
    
    #name {    
        font-size: 10pt;
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
    }
    nav li {
        font-size: 10pt;
        display: table;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
        #logo h2 {
        font-size: 8pt;
    }
    
    #logo h4 {
        font-size: 6pt;
    }
    
    #about {
        font-size: 9pt;
    }
    
    #bio {
        font-size: 7pt;
    }
    
    .grid {
        grid-template-columns: 45% 45%;
        grid-column-gap: 8px;
    }
}

