* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: dimgray;
    width: 100%;
    height: auto;
    padding: 15px;
    list-style: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_name {
    font-size: 35px;
    font-weight: bold;
    padding-left: 15px;
}

header li {
    padding: 10px 20px; 
    display: inline-block;
    font-size: 18px;
}

#right_most {
    padding-right: 50px;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

div {
    margin: 0px 25%;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

.button_holder {
    text-align: center;
}

button {
    font-size: 20px;
    background-color: dimgray;
    border: solid 2px black;
    padding: 5px;
}

#title {
    background-image: url(/images/DSC9415.jpg);
    background-size: cover;
    height: 100vh;
}

#about {
    background-color: maroon;
}

#research {
    background-color: darkturquoise;
}

#composition {
    background-color: blueviolet;
    text-align: center;
}

#performance {
    background-color: azure; 
}

#coding {
    background-color: darksalmon;
}

footer {
    text-align: center;
    background-color: white;
    font-size: 15px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#license {
    font-size: 10px;
}
